.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  align-items: center;
  width: 100%;
}

.floatingInput {
  position: relative;
  width: 50%;
  margin-top: 1rem;
}

.floatingInput input {
  width: 100%;
  padding: 1rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: var(--text-primary);
  background: transparent;
  outline: none;
}

.floatingInput input:focus {
  border-color: var(--btn-primary-bg);
}

.floatingInput label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #999;
  background-color: var(--bg-page);
  padding: 0 0.25rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.floatingInput input:focus + label,
.floatingInput input:not(:placeholder-shown) + label {
  top: 0;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--btn-primary-bg);
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--btn-primary-hover-bg);
}

.error {
  color: var(--status-error);
  font-size: 0.875rem;
  margin-top: 10px;
}

.pickerWrapper {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 100;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  animation: fadeIn 0.15s ease-in-out;
}

.pickerContainer {
  position: relative;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .pickerWrapper {
    will-change: transform, opacity;
    width: 95vw;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    top: 105%;
  }

  .floatingInput {
    width: 100%;
  }

  .form {
    width: 80%;
  }
}
