.suggestions {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: -100px; */
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--text-primary);
  font-weight: bold;
}

@media (max-width: 600px) {
  .suggestions {
    padding: 10px;
    margin-top: 9px;
  }

  .title {
    font-size: 1.5rem;
  }
}
