.tipCard {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.habitIcon {
  font-size: 2rem;
}

.habitTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  font-weight: bold;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-card);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
  box-shadow: var(--box-shadow-hover);
}

.card h3 {
  margin: 0.5rem 0;
}

.card p {
  margin: 0.2rem 0;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.habitTarget {
  color: var(--text-primary);
}

.habitStreak {
  color: var(--text-primary);
}

.emptyState {
  text-align: center;
  padding: 2rem;
  opacity: 0.7;
  max-width: 600px;
  background-color: var(--bg-card);
  border-radius: 9px;
  box-shadow: var(--box-shadow);
}

.emptyIcon {
  font-size: 3rem;
}

.goSuggestBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--btn-primary-bg);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.goSuggestBtn:hover {
  background-color: var(--btn-primary-hover-bg);
}

@media (max-width: 640px) {
  .tipCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1.5rem;
  }
  .card {
    padding: 0.5rem;
  }

  .habitIcon {
    font-size: 1.5rem;
  }

  .habitTitle {
    font-size: 1.1rem;
  }

  .emptyState {
    padding: 1rem;
  }

  .emptyIcon {
    font-size: 2.5rem;
  }
}
