:where(*:has(> .Ripple_Container)) {
  --ripple-expand-scale: 2.05;
  position: relative;
}

.Ripple_Container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  border-radius: inherit;
}

.Ripple_Element {
  position: absolute;
  border-radius: var(--shape-radius-full);
  z-index: 0;
  background-color: var(--color-surface-ripple, rgba(255, 255, 255, 0.6));
  transform: scale(0);
}

.Ripple_Element.Hold {
  animation: ripple-expand 350ms var(--animation-easing-smooth) forwards;
}

.Ripple_Element.Fade {
  animation: ripple-fade 350ms var(--animation-easing-base) forwards;
}

@keyframes ripple-expand {
  50% {
    transform: scale(0.5);
  }
  to {
    transform: scale(var(--ripple-expand-scale));
  }
}

@keyframes ripple-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}
