:root {
  /* Backgrounds */
  --bg-page: #F5F7FA;
  --bg-card: #FFFFFF;
  --bg-hover: #E0EBFF;

  /* Text colors */
  --text-primary: #333333;
  --text-secondary: #666666;

  /* Buttons */
  --btn-primary-bg: #3B82F6;
  --btn-primary-text: #FFFFFF;
  --btn-primary-hover-bg: #1549f3d3;

  /* Status colors */
  --status-success: #10B981;  /* Completed habit */
  --status-warning: #F59E0B;  /* Warning/attention */
  --status-error: #EF4444;    /* Missed habit */
  --status-error-hover: #dc2626; /* Hover state for error */

 /* box shadow */
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 1px 4px rgb(0, 0, 0);
  --box-shadow-focus: 0 1px 4px rgb(0, 0, 0);
  --box-shadow-header: 0 2px 4px rgba(0, 0, 0, 0.2);

  --blur-background: rgba(255, 255, 255, 0.6)

}


body.dark {
  --bg-page: #121212;
  --bg-card: #1e1e1e;
  --bg-hover: #232323;

  --text-primary: #ffffff;
  --text-secondary: #cccccc;

  --box-shadow: 0 2px 8px rgba(255,255,255,0.15);
  --box-shadow-hover: 0 2px 8px rgba(255,255,255,0.25);
  --box-shadow-focus: 0 2px 8px rgba(255,255,255,0.25);
  --box-shadow-header: 0 2px 4px rgba(255,255,255,0.2);

  --blur-background: rgba(18, 18, 18, 0.6);

  background-color: var(--bg-page);
  color: var(--text-color);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-page);
}

main{
  margin-top: 0;
  padding-top: 0;
}

button {
  cursor: pointer;
}

.Toastify__toast {
  min-width: 100%;
  /* font-size: 1.2rem; */
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.Toastify__toast--dark {
  background-color: var(--bg-card);
  color: var(--text-primary);
}

.custom-toast-container {
  padding: 0 !important;
  margin: 0 !important;
}

.Toastify__toast--light {
  --bg-card: #1e1e1e;
  --text-primary: #ffffff;
  background-color: var(--bg-card);
  color: var(--text-primary);
}

.react-calendar__tile.highlight {
  background-color: #d1fae5 !important; /* Tailwind green-100 */
  border-radius: 8px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.react-calendar {
  background-color: var(--bg-card);
  border-radius: 12px;
}

@media (max-width: 600px) {
  .Toastify__toast {
    min-width: 90vw;
    font-size: 1rem;
  }

  .react-calendar {
    width: 100%;
    font-size: 0.9rem;
  }
}