.featuresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding: 50px;
}

.featuresTitle {
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-primary);
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--text-primary);
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
}

.featureCard {
  background: var(--bg-card);
  border-radius: 10px;
  max-width: 550px;
  padding: 1rem;
  margin: 1.25rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  padding-top: 20px;
  color: var(--text-primary);
}

.featureLink {
  text-decoration: none;
  color: inherit;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.featureCard:focus {
  box-shadow: 0 1px 4px rgb(0, 0, 0);
}

/* .featureIcon {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 0.75rem;
} */

.featureDescription {
  color: var(--text-secondary);
  font-size: 18px;
  /* margin-bottom: 20px; */
}

.featureTitle {
  font-weight: normal;
  margin: 0;
  font-size: calc(1.3rem + 0.6vw);
}
