.details {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 2rem;
  margin-top: -100px;
}

.backBtn {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-primary);
  text-decoration: none;
}

.card {
  border-radius: 12px;
  padding: 1.5rem;
}

.deleteActions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.deleteBtn {
  background-color: var(--status-error);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: var(--status-error-hover);
  transform: scale(1.02);
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
}

.icon {
  font-size: 2.5rem;
}

.actions button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.actions button:hover {
  background: var(--btn-primary-hover-bg);
  transform: scale(1.02);
}

.history {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.historyTitle {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.highlight {
  background-color: #d1fae5;
  font-weight: bold;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .details {
    padding: 1rem;
    margin-top: -50px;
  }

  .title {
    font-size: 1.5rem;
  }

  .actions button {
    padding: 0.4rem 0.8rem;
  }
}
