.tracker {
  margin-top: -100px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.noResults {
  text-align: center;
  padding: 3rem 1rem;
  color: var(--text-primary);
  border-radius: 1rem;
  background-color: var(--bg-card);
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.goSuggestBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--btn-primary-bg);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .tracker {
    margin-top: -50px;
  }
}
