.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding: 50px;
}

.home__title {
  font-size: 100px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.home {
  margin-bottom: 50px;
}

.home__button {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: var(--btn-primary-bg);
  border-radius: 8px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.home__button:hover {
  background-color: var(--btn-primary-hover-bg);
}

.home__description {
  color: var(--text-secondary);
  font-size: 18px;
  margin-bottom: 20px;
}

.h2 {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.p {
  color: var(--text-secondary);
  font-size: 18px;
  margin-bottom: 20px;
}


@media (max-width: 500px) {
  .home__title {
    font-size: 50px;
  }
  .section {
    padding: 20px;
  }
  .home__button {
    padding: 10px 20px;
  }

  .home {
    margin-top: 5px;
  }
}
